# Set language for documentation files
*.md linguist-language=Japanese
*.rst linguist-language=Japanese

# Treat English files as documentation
*.md.en linguist-language=English
*.md.en linguist-documentation=true
*.md.en linguist-detectable=true

# Explicitly mark English files
README.md.en linguist-language=English
changelog.md.en linguist-language=English
publications.md.en linguist-language=English
pyhrv/README.md.en linguist-language=English
pyhrv/report/README.md.en linguist-language=English
